@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #202124;
	color: white;
	height: 100vh;
	max-width: 1300px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: inherit;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.btn {
	background-color: #ffffff;
	border: none;
	border-radius: 0.5rem;
	color: #111827;
	padding: 0.75rem 1rem;
	text-align: center;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	box-shadow: -2px 2px 4px 1px rgb(131, 131, 131);
}

.btn:hover {
	background-color: #f1f1f1;
}

.btn:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.btn:focus-visible {
	box-shadow: none;
}

input,
textarea {
	max-width: 190px;
	background-color: #f5f5f5;
	color: #242424;
	padding: 0.15rem 0.5rem;
	min-height: 40px;
	border-radius: 4px;
	outline: none;
	border: none;
	line-height: 1.15;
	box-shadow: 0px 10px 20px -18px;
	box-shadow: -2px 2px 4px 1px rgb(131, 131, 131);
}

textarea {
	height:90px;
	font-family: 'Poppins', sans-serif;
}

.deck-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.deck-info label {
	margin-right: 20px;
}

.deck-list {
	width: 80%;
	margin-bottom: 40px;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.deck-item {
	width: 230px;
	height: 250px;
	padding: 10px 5px;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 5px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: -2px 2px 4px 1px rgb(131, 131, 131);

	background-color: white;
	color: black;

	overflow-y: auto;
	overflow-x: visible;
}

.deck-item::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.deck-item::-webkit-scrollbar-track {
	background-color: #d4d4d4;
	border-radius: 10px;
}

.deck-item::-webkit-scrollbar-thumb {
	background-color: #ffa200;
	border-radius: 10px;
}

.deck-item::-webkit-scrollbar-thumb:hover {
	background-color: #dd8c00;
	border-radius: 10px;
}

.deck-item-header {
	width: 100%;
	display: flex;
	position: relative;
}

.deck-item-menu-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	border-radius: 50%;
}

.menu-open {
	background-color: #dbdbdb;
}

.deck-item-menu-button:hover {
	background-color: #dbdbdb;
}

.deck-item-menu {
	position: absolute;
	left: 13em;
	top: 1.5em;

	display: flex;
	flex-direction: column;

	background-color: rgb(255, 255, 255);
	box-shadow: -2px 1px 4px 0px rgb(131, 131, 131);
	border-radius: 5px;
}

.menu-btn {
	border: none;
	border-radius: 5px;
	cursor: pointer;

	padding: 1px 3px;
	margin: 2px 2px;

	background-color: rgb(255, 255, 255);
}

.menu-btn:hover {
	background-color: #eaeaea;
}

.delete-btn {
	color: rgb(195, 7, 7);
}

.edit-btn {
	color: rgb(77, 146, 236);
}

.deck-item-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	height: 100%;
}

.deck-title {
	margin-bottom: 20px;
}

.skeleton-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 40px;
	margin-bottom: 40px;
}

.skeleton {
	background-color: white;
	border-radius: 5px;

	animation: glow-and-fade 2s ease-in-out;
	animation-iteration-count: infinite;
}

.loading {
	animation: spinner 0.5s linear;
	animation-iteration-count: infinite;
}

@keyframes glow-and-fade {
	from {
		opacity: 0.3;
	}

	50% {
		opacity: 0.8;
	}

	to {
		opacity: 0.3;
	}
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
